.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.login-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  margin: 50px;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border-color: #ffffff;
}
